@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(25, 152, 187);
}

span {
  background-color: rgba(2, 2, 2, 0.322);
  color: white;
  backdrop-filter: blur(12px);
  padding: 1.5rem;
  border-radius: 50%;
  text-align: center;
  transition: 0.1s ease;
}
span:hover {
  background-color: rgba(2, 2, 2, 0.795);
  cursor: pointer;
}

.App {
  height: 100%;
}

/* animations */
.color-change-5x {
  -webkit-animation: color-change-5x 8s linear infinite alternate both;
  animation: color-change-5x 8s linear infinite alternate both;
}
@-webkit-keyframes color-change-5x {
  0% {
    background: #2667c9;
  }
  25% {
    background: #0f9c91;
  }
  50% {
    background: #5786cc;
  }
  75% {
    background: #2f5997;
  }
  100% {
    background: #544cbe;
  }
}
@keyframes color-change-5x {
  0% {
    background: #2667c9;
  }
  25% {
    background: #0f9c91;
  }
  50% {
    background: #5786cc;
  }
  75% {
    background: #2f5997;
  }
  100% {
    background: #544cbe;
  }
}

.products-home-animated {
  animation: products-home-animation 1s ease-in linear;
}

/* Transition Animation */

@keyframes products-home-transition {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
